$purple:rgb(120,45,141);
$purple-dark:rgb(82,47,144);
$blue-dark:rgb(0,84,165);
$blue:rgb(39,169,224);
$green-dark:rgb(25,138,68);
$green:rgb(141,198,65);
$wine:rgb(177,31,37);
$pink:rgb(218,28,33);
$red:rgb(239,69,35);
$orange-dark:rgb(244,121,33);
$orange:rgb(250,165,26);
$yellow:rgb(255,212,0);
